@import "bootstrap.less";
@import "variables.less";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpBLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9eQowW6GLedZLTMLCO5O4pE.woff2) format('woff2');
}
@font-face {
  font-family: 'Nautilus Pompilius';
  src: local('Nautilus Pompilius'), local('NautilusPompilius'), url('../fonts/nautiluspompilius.woff2') format('woff2'), url('../fonts/nautiluspompilius.woff') format('woff'), url('../fonts/nautiluspompilius.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



body {
  padding-top: 60px;
}
.navbar-nav {
    li {
      a {
        text-transform: uppercase;
      }
    }
}
.navbar-brand {
  font-family: @font-face-nau;
}
@media (min-width: @screen-md-min) {
  .navbar-nav {
    li {
      a {
        font-size: 12px;
      }
    }
  }
  .navbar-nav.feedback-nav {
    float: right;
  }
}
@media (min-width: 1200px) {
  .navbar-nav {
    li {
      a {
        font-size: 14px;
      }
    }
  }
}
header {
  padding: 30px 0;
  h1 {
    color: @bordo-color;
    font-family: @font-face-nau;
    font-size: 40px;
    text-align: center;
    line-height: 1.3;
    margin: 20px 0;
    span {
      font-family: @font-family-sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      vertical-align: 10px;
    }
  }
  .line {
    color: #fff;
    margin-bottom: 20px;
  }
  .line::before, .line::after {
    width: 100px;
    background-color: #fff;
  }
  .row {
    margin-bottom: 20px;
  }
}
.header-line {
  background: @brand-primary;
  width: 127px;
  height: 1px;
  margin: 0 auto;
}
.head-foto-container {
  float: right;
}
.head-foto {
  max-width: 200px;
  margin: 0 auto;
  img {
    .img-responsive;
    border-radius: 50%;
  }
}
.slogan {
  color: @dark-text-color;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 10px 0 20px;
}
.about-event {
  color: @dark-text-color;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 20px 0 30px;
  span {
    font-size: 16px;
  }
}
.order-btn {
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  font-family: @font-family-sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  max-width: 326px;
}
.header-order {
  text-align: center;
}
@media (min-width: @screen-sm-min) {
  .head-foto-container {
    padding-top: 80px;
  }
  header h1, .slogan, .about-event {
    text-align: left;
  }
  header {
    h1 {
      font-size: 46px;
      margin-bottom: 0;
      span {
        font-size: 14px;
        margin-left: 8px;
        vertical-align: 20px;
      }
    }
  }
  .header-line {
    margin: 0;
  }
  .header-order {
    text-align: left;
  }
}
@media (min-width: @screen-md-min) {
  .head-foto-container {
    padding-top: 40px;
  }
  .head-foto {
    max-width: 400px;
  }
  header {
    h1 {
      //font-size: 58px;
      line-height: 1.1;
    }
  }
  .slogan {
    //font-size: 18px;
    margin-top: 0;
  }
  .about-event {
    //font-size: 32px;
    span {
      //font-size: 20px;
      //vertical-align: 10px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  header {
    h1 {
      font-size: 68px;
      line-height: 0.8;
    }
  }
  .slogan {
    max-width: 600px;
  }
  .about-event {
    font-size: 40px;
    margin-bottom: 15px;
    span {
      vertical-align: 10px;
    }
  }
}
section {
  padding: 30px 0;
  h2 {.partner-logo.partner-sv {
  margin: 30px 0;
}
    color: @dark-text-color;
    font-family: @font-face-nau;
    text-align: center;
  }
}
.partners {
  //background: #f5f4ec;
  background: linear-gradient(to bottom, #f5f4ec, #fff);
}
.partner-logo {
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.partner-logo.partner-sv {
  margin: 30px 0;
}
@media (min-width: @screen-sm-min) {
  .partner-logo.partner-sv {
    margin: 0;
  }
}
.section-head {
  margin-bottom: 60px;
}
.line {
  color: @brand-primary;
  text-align: center;
  vertical-align: middle;
}
.line::before, .line::after {
  content: "";
  position: relative;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  background: none repeat scroll 0% 0% padding-box content-box;
  background-color: @brand-primary;
  width: 40px;
}
.line::before {
  left: -0.5em;
  margin: 0px 0px 0px -50%;
}
.line::after {
  left: 0.5em;
  margin: 0px -50% 0px 0px;
}
@media (min-width: @screen-md-min) {
  section {
    padding: 60px 0;
  }
  .partners {
    padding: 30px 0;
  }
}
.event {
  color: @dark-text-color;
  text-align: center;
}
@media (min-width: @screen-lg-min) {
  .event {
    font-size: 16px;
  }
}
.program {
  background: linear-gradient(to bottom, #f5f4ec, #fff);
}
.program-item {
  margin-bottom: 40px;
}
.program-item-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
    border-radius: 50%;
    margin: 0 auto;
  }
}
.program-item-text {
  font-size: 16px;
  text-align: center;
  height: 69px;
  max-width: 300px;
  margin: 0 auto;
}
.part {
  //background: #f5f4ec;
  background: linear-gradient(to bottom, #f5f4ec, #fff);
}
.part-item {
  margin-bottom: 40px;
}
.part-item-img {
  margin-bottom: 20px;
  img {
    .img-responsive;
    margin: 0 auto;
  }
}
.part-item-title {
  font-size: 16px;
  font-family: @font-family-sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.part-list {
  > div:nth-of-type(1) {
    .part-item-title {
      color: #c21f41;
    }
  }
}
.part-list {
  > div:nth-of-type(2) {
    .part-item-title {
      color: #56c4d5;
    }
  }
}
.part-list {
  > div:nth-of-type(3) {
    .part-item-title {
      color: #e74c3c;
    }
  }
}
.part-item-text {
  font-size: 16px;
  text-align: center;
  height: 91px;
  max-width: 300px;
  margin: 0 auto;
}
.about-part-order {
  text-align: center;
}
.profi {
  background: linear-gradient(to bottom, #f5f4ec, #fff);
}
.profi-item-img {
  img {
    .img-responsive;
    border-radius: 50%;
    margin: 0 auto;
  }
}
.profi-item-text {
  padding: 20px 0 0;
  margin-bottom: 40px;
  div {
    text-align: center;
  }
}
.profi-name {
  color: @dark-text-color;
  font-family: @font-family-sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.profi-spec {
  color: @brand-primary;
  font-family: @font-family-sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
@media (min-width: @screen-md-min) {
  .profi-list {
    > div:nth-of-type(odd) {
      .profi-item {
        .row {
          .profi-item-img-container {
            float: right;
          }
          .profi-item-text div {
            text-align: right;
          }
        }
      }
    }
    > div:nth-of-type(even) {
      .profi-item {
        .row {
          .profi-item-text div {
            text-align: left;
          }
        }
      }
    }
  }
  .profi-item {
    margin-bottom: 40px;
  }
}
.profi-spec-list {
  margin-bottom: 60px;
}
.profi-spec-item {
  color: @brand-primary;
  font-size: 16px;
  font-family: @font-family-sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
  i {
    margin-right: 20px;
  }
}
@media (min-width: @screen-sm-min) {
  .profi-spec-item {
    font-size: 20px;
  }
}
@media (min-width: @screen-md-min) {
  .profi-spec-item {
    margin-left: 0;
  }
}
.profi-slogan {
  color: @dark-text-color;
  font-size: 20px;
  text-align: center;
  margin-bottom: 80px;
}
.presents {
  background: url(../images/funfacts.jpg) no-repeat center;
  background-size: cover;
  //height: 700px;
}
.present-item {
  border-radius: 50%;
  background: @brand-primary;
  width: 260px;
  height: 260px;
  margin: 0 auto 40px;
  text-align: center;
}
.present-item-container {
  font-family: @font-family-sans-serif;
}
.present-item-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.present-item-text {
  color: @dark-text-color;
}
.presents-list {
  > div:nth-of-type(1) {
    .present-item {
      .present-item-container {
        padding: 100px 0 0;
      }
    }
  }
  > div:nth-of-type(2) {
    .present-item {
      .present-item-container {
        padding: 70px 20px 0;
      }
    }
  }
  > div:nth-of-type(3) {
    .present-item {
      .present-item-container {
        padding: 45px 25px 0;
      }
    }
  }
}
.ticket {
  background: #f5f4ec;
}
.ticket-order-contacts {
  color: @dark-text-color;
  font-size: 16px;
  > div {
    margin-bottom: 40px;
  }
}
@media (min-width: @screen-md-min) {
  .ticket-order-contacts {
    padding-top: 20px;
  }
}
@media (min-width: @screen-lg-min) {
  .ticket-order-contacts {
    padding-top: 40px;
  }
}
.reg-form {
  background: @brand-primary;
  border-radius: 10px;
  padding: 30px 25px;
  margin-bottom: 40px;
  .reg-form-title {
    color: @dark-text-color;
    font-family: @font-face-nau;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
  }
  .line {
    color: #fff;
    margin-bottom: 20px;
  }
  .line:before, .line:after {
    background: #fff;
    width: 100px;
  }
  .form-group {
    text-align: center;
  }
  label {
    color: @dark-text-color;
    font-size: 13px;
  }
  .help-block {
    //color: @dark-text-color;
    font-family: @font-family-sans-serif;
    font-size: 13px;
  }
  .order-btn {
    font-size: 10px;
    width: 100%;
    max-width: none;
  }
}
.ticket-order-point span {
  font-weight: 700;
}
@media (min-width: @screen-sm-min) {
  .reg-form {
    padding: 40px 50px;
  }
}
footer {
  background: @dark-text-color;
  padding: 30px 0;
  text-align: center;
}
.footer-invitation {
  padding: 60px 0 0;
}
.invitation {
  color: @brand-primary;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.invitation-btn {
  text-align: center;
}
.modal-title {
  color: @dark-text-color;
}
.inner {
  color: @dark-text-color;
  h1 {
    font-family: @font-face-nau;
    text-align: center;
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  dl {
    .dl-horizontal;
  }
}
.for-partner {
  margin: 60px 0;
  p {
    font-size: 18px;
    i {
      margin-right: 15px;
    }
  }
}
.inner-contact {
  font-size: 18px;
  max-width: 400px;
  margin: 80px auto;
  dl {
    dd {
      margin-bottom: 10px;
    }
  }
}
.request-form {
  .form-control {
    max-width: 460px;
  }
  .help-block {
    color: darken(@text-color, 10%);
    max-width: 460px;
  }
  .order-btn {
    margin-top: 26px;
  }
}
@media (min-width: @screen-md-min) {
  .request-form {
    .order-btn {
      margin-top: 15px;
    }
  }
}
.request-form-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: @screen-md-min) {
  .inner-nav {
    .navbar-brand {
      background: darken(@brand-primary, 5%);
    }
  }
}

.header-order {
  .bg-primary {
    .order-btn;
    width:auto;
  }
}

.gallery-anons {
  margin-bottom: 30px;
  h3 {
    margin-bottom: 15px;
  }
}

.video-item {
  text-align: center;
  iframe {
    margin:auto;
  }
}

@media (max-width: @screen-xs-max) {
  .video-item {
    text-align: center;
    iframe {
      max-width: 100% !important;
      height: 200px !important;
      margin:auto;
    }
  }
}

.video_thumb_play {
  background-color: rgba(0, 0, 0, 0.38);
  background-image: url("../images/video_play_compact.png");
  background-position: 16px 12px;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 22px;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
  padding: 25px 25px;
  position: absolute;
  top: 50%;
  transition: background 100ms linear 0s;
  width: 17px;
  z-index: 1;
}

.video-col {
  margin-bottom: 50px;
  h3 {
    height: 55px;
    overflow: hidden;
  }
}